.table{
  margin: 50px 200px;
}
td{
  font-size: 20px;
  font-weight: 500;
}
input{
  height: 30px;
}
.btn{
  padding: 10px 20px 30px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
}
.datas{
  font-weight: 500px;
  font-size: 20px;
}